<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-devoured ="{{devoured}}">
        {{#if devoured}} YUM! {{else}} DINNER TIME! {{/if}}
    </button>

    <button class ="delete-burger" data-id="{{this.id}}">Forget Burger</button>
</li>